/*!-------------------- Index --------------------*/
/*?-------------------- Body --------------------*/
/**-------------------- Header --------------------*/

.menu {
    background-color: black !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    .navbar-nav {

        .nav-link,
        .navbar-toggler-icon {
            color: white !important;
            font-size: 18px;
            transition: color 0.3s ease;
        }

        .navbar-toggler {
            border-color: white;
        }

        .navbar-brand {
            display: flex;
            align-items: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: #FFD700;
            }
        }

        .btn-outline-secondary {
            border-color: white;
            color: white;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.navbar-nav.me-auto {
    margin-right: auto;
}

.navbar-nav.mx-auto {
    flex: 1;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    align-items: center;

    .nav-link {
        margin-left: 15px;
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #008cff;
        }
    }
}

.form-control:focus {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

.form-control {
    margin-right: 5px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

header nav img {
    height: 65px;
    width: auto;
}

/**-------------------- Main --------------------*/

body,
html {
    width: 100%;
    overflow-x: hidden;
}

main {
    max-width: 100%;
}

.fuenteEspecial {
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 4%;
    padding-bottom: 10%;
    background-color: black;
    color: white;

    .heroContent {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        align-items: center;
        max-width: 40%;

        .text {
            padding-right: 15px;
            color: white;
        }
    }

    .imagen {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        margin-left: 10px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    h2 {
        font-size: 45px;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    a {
        display: inline-block;
        padding: 10px 20px;
        background-color: white;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.Bienvenida {
    align-items: center;
    margin-top: 15px;
    padding-top: 20px;
    background-color: white;
    color: black;

    h2 {
        font-size: 35px;
        margin-bottom: 10px;
        text-align: center;
        margin-top: 5px;
    }

    p {
        text-align: center;
        padding-bottom: 35px;
    }
}

.productoUno,
.productoDos,
.productoTres {
    display: flex;
    width: 100%;
    height: 60vh;
    margin-bottom: 40px;
    transition: transform 0.3s ease;

    .imagen {
        flex: 0 0 40%;

        img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }

    .texto {
        flex: 0 0 60%;
        padding: 25px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    h3 {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        text-align: center;
        font-weight: 700;
        margin-bottom: 25px;
        font-size: 30px;
    }

    p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        text-align: center;
        font-weight: 450;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.productoUno {
    background-color: rgb(213, 208, 228);
    color: rgb(51, 74, 135);
}

.productoDos {
    background-color: rgb(228, 205, 187);
    color: rgb(31, 10, 5);
}

.productoTres {
    background-color: rgb(22, 44, 91);
    color: rgb(240, 232, 222);
}

/** Aquí hago uso de css para editar el carrusel de Bootstrap */

#carouselExampleCaptions {
    position: relative;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 40px;

    .carousel-inner {
        height: 100%;
    }

    .carousel-item {
        height: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .carousel-caption {
        bottom: 20px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 15px;
        border-radius: 5px;
        text-align: center;

        h5 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
        }
    }

    .carousel-indicators {
        button {
            background-color: rgba(0, 0, 0, 0.5);

            &.active {
                background-color: white;
            }
        }
    }
}

/** GRIDS */
.contenedorSecciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0 20px 35px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.seccionAccesorios,
.seccionBebidas,
.seccionUnete {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.seccionAccesorios {
    grid-area: 1 / 1 / 4 / 3;
    background: linear-gradient(to bottom right, #FAD6AA, #F5B7B1);
}

.seccionBebidas {
    grid-area: 1 / 3 / 4 / 5;
    background: linear-gradient(to bottom right, #FFE2E2, #FFD3E0);
}

.seccionUnete {
    grid-area: 4 / 1 / 6 / 5;
    background: linear-gradient(to bottom right, #D4E7D9, #B3D4A3);
}

.verMas,
.botonVisitanos {
    margin-top: 20px;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.verMas {
    background-color: #FF7F50;
    color: white;

    &:hover {
        background-color: #FF6347;
        transform: scale(1.1);
    }
}

.botonVisitanos {
    background-color: #4CAF50;
    color: white;

    &:hover {
        background-color: #45A049;
        transform: scale(1.1);
    }
}


/*!-------------------- Nosotros --------------------*/

.seccionContenedor {
    background-color: #f9f4e7;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 40px;
}

.contenidoHistoria {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.6;
        margin-bottom: 20px;

        .textoDestacado {
            color: #6d28d9;
            font-weight: bold;
        }
    }
}

.contenedorImagen {
    margin: 20px 0;
    height: 100%;
    width: auto;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

/*!-------------------- Contacto --------------------*/

.seccionFormulario,
.seccionMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #FFF5E1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.formularioContacto {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campoFormulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;

    .etiquetaFormulario {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .inputFormulario,
    .textareaFormulario {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        background-color: #FFF;
        width: 100%;

        &:focus {
            background-color: #FFFAF0;
            outline: none;
            border-color: #6B4F4F;
        }
    }
}

.botonEnviar {
    padding: 10px 20px;
    background-color: #6B4F4F;
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;

    &:hover {
        background-color: #8B5E5E;
    }
}

.mapaUbicacion {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/*!-------------------- Productos --------------------*/

.mainContainer {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.section-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.ventaProductos {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(-10px);
    }
}

.productosGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.producto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    img {
        max-width: 100%;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.015);
        }
    }
}

.precio {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    color: black;
}

.descripcion {
    font-size: 1em;
    color: #333333;
    margin: 10px 0;
}

.comprar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
}

.btn-anim {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

/*!-------------------- Recetas --------------------*/

.contenidoPrincipal {
    padding: 20px;
}

.seccionBlog {
    margin-bottom: 40px;
}

.publicacionesBlog {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.entradaBlog {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }
}

.enlaceLeerMas {
    margin-top: 10px;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #007bff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    &:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }

    &:hover {
        color: #007bff;
    }
}

/* Sección de vídeos */
.seccionVideos {
    margin-bottom: 40px;
}

.videosGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.video {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    iframe {
        width: 100%;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }
    }
}

.seccionRecetas {
    margin-bottom: 40px;
}

.recetaDestacada {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }
}

.enlaceVerReceta {
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;

    &::before {
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #007bff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    &:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }

    &:hover {
        color: #007bff;
    }
}

.seccionRecetasVideo {
    margin-bottom: 40px;
}

.videosGrid .video {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
}

.seccionEnviarReceta {
    form {
        display: grid;
        gap: 10px;
    }

    label {
        font-weight: bold;
    }

    input,
    textarea {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 100%;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus {
            border-color: #007bff;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
        }
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: #0056b3;
            transform: scale(1.04);
        }
    }
}