/*!-------------------- Fonts --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Pacifico&display=swap');

/*!-------------------- Reset --------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-style: normal;
}

body,
html {
    width: 100%;
    overflow-x: hidden;
}

/**-------------------- Variables --------------------*/
$color-principal: black;
$color-secundario: white;

/** -------------------- Extends --------------------*/
%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*!-------------------- Nav de Bootstrap --------------------*/

.menu {
    background-color: black !important;
}

.menu .navbar-nav .nav-link,
.menu .navbar-toggler-icon {
    color: white !important;
    font-size: 18px;
}

.menu .navbar-toggler {
    border-color: white;
}

.menu .btn-outline-secondary {
    border-color: white;
    color: white;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.navbar-nav.me-auto {
    margin-right: auto;
}

.navbar-nav.mx-auto {
    flex: 1;
    justify-content: center;
}

.form-control {
    margin-right: 5px;
}

header nav img {
    height: 65px;
    width: auto;
}

/*!-------------------- Carrusel de Bootstrap --------------------*/

#carouselExampleCaptions {
    position: relative;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 40px;

    .carousel-inner {
        height: 100%;
    }

    .carousel-item {
        height: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .carousel-caption {
        bottom: 20px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 15px;
        border-radius: 5px;
        text-align: center;

        h5 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
        }
    }

    .carousel-indicators {
        button {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .active {
            background-color: white;
        }
    }
}
